*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
header{
    width:100%;
    height: 150px;
    background-color: rgb(193, 183, 115);

}
header nav{
    width:100%;
    height: 50px;
   /* background-color: white;*/     
}
nav ul{
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}
nav ul li{
    margin: 0 20px;
    font-size: 18px;
    font-weight: bold;
 
}  
nav ul li a{
    text-decoration: none;
    color: black;
}
nav ul li a:hover{
    color: rgb(129, 117, 25);
    transition: 0.3s;
}

header .logo{
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 70px;
} 
.logo p{
    font-size: 30px;
    font-weight: bold;
    color: black;
    text-align: center;
    margin-top: 20px;
    width: 70px;
    height: 70px;
    justify-content: center ;   
}
.logo span{
    color: white;
}
.slide{
    width: 100%;
    height: 400px;
    background-image:url("download\ \(3\).jpeg") ;
}

.card1{
    width: 100%;
    height: 300px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.card2{
    width: 100%;
    height: 300px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
footer{
    width: 100%;
    height: 150px;
    background-color: rgb(193, 183, 115);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}