h1{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color:brown;
    text-align: center;
    text-decoration: underline;
    text-transform: capitalize;
    font-weight: bolder;
    
}
/* skill */
.top{
display: flex;
gap: 20px;
margin-top: 20px;
width: 100%;
  
}
.top h2{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color:brown;
text-transform: capitalize;
font-weight: bolder;
}
.div img{
    width: 100px;
    height: 100px;
    border-radius: 50%;
    border: 2px solid brown;
}


.test{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    margin-top: 20px;
    background-color: lightgrey;
   
    border-radius: 50px;
    width:400px;
    height:300px;
    margin-left: 30px;
    margin-bottom: 20px;    
    box-shadow:indianred 5px 5px 15px, lightgrey -5px -5px 15px;
}


 

