body{
    font: normal .75em / 1 Arial, Helvetica, sans-serif;
    color: #555;
    background: #f6f6f6 linear-gradient(180deg, #006491 0, #006491 51px, #f6f6f6 0, #f6f6f6) 0 0 no-repeat;
    width:100%;
    
}
header{
    width:100%;
    height: 300px;
 display: flex;
   justify-content:space-between;
 background: #f6f6f6 linear-gradient(180deg, #006491 0, #006491 51px, #f6f6f6 0, #f6f6f6) 0 0 no-repeat;
  }
.img-logo{
    width:100px;
    height:100px;
    margin-left:100px;
}
nav {
width: 400px;
margin-right: 300px;
}
nav ul{
    display:flex;

    list-style-type:none;

}
nav ul li{
       padding:5px;
    
}
nav ul li a{
    font-size:15px;
    color:white;
}
nav ul li a:hover{
    background-color: green;
}