.wrapper{

    width:600px;
    height: 200px;
    
    margin-top: 20px;
    margin-left: 20px;



}
.inner{
    width:600px;
    height: 150px;
      display:flex;
}
 .div1{
    width:200px;
    height: 100px;
    border: 1px solid white;
    border-radius: 20px;
    background-color:rgb(13, 71, 107);
      line-height: 0px;
      text-align: center;
}
.div1 h3,
 p{
    margin-top: 30px;
    color:white;
}